.subtitule{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.row4 {
    display: flex;
    align-content: flex-start;
    gap:20px;
  }
  .imgsize{
    width: 32%;
    text-align: center;
}
.col3{
    flex-direction:column;
    text-align: center;
    border-radius: 5px;
}
.imagenProducto{
    width:100%;
    border-radius: 5px; 
    height: 250px;
}
